<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
 
<h1>初級編宇宙旅行</h1>
<p>まずは宇宙旅行の説明をしましょう。簡単にわかるように会話形式で見てみましょう。</p>
</br>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>しんさん、ようこそSheen's English オンライン体験レッスンへ。
    ここでは講師みなさんと一緒にしんさんの英語脳を生成するために宇宙旅行へ出かけることができます。
</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>
<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>宇宙旅行ですか？！楽しみですね。</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>

<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>それでは早速始めましょう。まずは何でもいいですので日本語で名詞を一つ上げてみてください。ここで英語の訳を知らないもののほうが達成感があって楽しいですよ。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>なにがいいかな、じゃあほうれん草でおねがいします。</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>

<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>ほうれん草ですね。かしこまりました。ほうれん草を日本語を勉強している外国人に日本語で説明してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>緑色の根のところが赤い野菜でしょうか？</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>素晴らしい説明力ですね。では緑色、根、赤い、野菜の中で知っている英単語はありますか？</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>緑はgreen</br>
       赤いはred</br>
       根はroot</br>
       野菜はvegetable</br>
       でしょうか？
    </p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>素晴らしいですね。それぞれ本当に正しいかどうかグーグルの画像検索をして確かめてみましょう。
    まずはgreenの画像検索をしてその画像をスクリーンショットをして共有してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>こんなかんじでしょうか？</p>
              <a href="/green.png" target="_blank"style="color:black;">
          <img src="/green.png" class="img-thumbnail" alt="Fjords" width="304" height="236">
          <div class="caption">
          </div>
        </a>
        </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>共有ありがとうございます。このしんさんがもともと持っていた緑のイメージとここに出でいる画像はどれくらい一致していたでしょうか？
  　パーセントで表してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>８５パーセントくらいでしょうか？思ったより違う色も混じっていました。</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>そうです。それが大切なのです。言語は完全に翻訳することはできません。この画像一つ一つがアメリカ人の頭の中であると考えましょう。
    しんさんのイメージ通り想像してくれたアメリカ人は１００人中８５人であったと思うようにしましょう。このパーセントを上げていくことが
    語学学習の目標となります。では同じようして他の画像も共有してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>それぞれ</p>
              <a href="/red.png" target="_blank"style="color:black;">
          <img src="/red.png" class="img-thumbnail" alt="Lights" width="304" height="236">
        </a>    <p>赤　95パーセント</p>
        
      
      
        <a href="/root.png" target="_blank" style="color:black;">
          <img src="/root.png" class="img-thumbnail" alt="Nature" width="304" height="236">
            </a><p>根　95パーセント</p>
        
      
      
            <a href="/vegetable.png" target="_blank"style="color:black;">
          <img src="/vegetable.png" class="img-thumbnail" alt="Fjords" width="304" height="236">
        </a>    <p>野菜 100パーセント</p>
        
      
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>すばらしいですね。どんな英単語でも必ずこのように画像検索をする習慣をつけましょう。ではすべての単語を入力して画像検索してみましょう。得られた画像の
    中にほうれん草があればおしえてください。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>茎か、根が赤いものがいっぱい出てきてほうれん草が見つからないです。</p>
    <a href="/redroot.png" target="_blank"style="color:black;">
          <img src="/redroot.png" class="img-thumbnail" alt="Lights" width="304" height="236">
          <div class="caption">
          </div>
        </a>
        </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>では原因となっている赤と根の英単語を外してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>緑色の野菜がたくさん出てきました。探すのが大変です。</p>
<a href="/greenvegetable.png" target="_blank"style="color:black;">
          <img src="/greenvegetable.png" class="img-thumbnail" alt="Lights" width="304" height="236">
        </a>  <p>あ！！ありました。</p>
  <a href="/spinach.png" target="_blank"style="color:black;">
          <img src="/spinach.png" class="img-thumbnail" alt="Lights" width="304" height="236">
        </a></div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>ほうれん草がみつかったようですね。確認のために、ほうれん草に該当する英単語を画像検索してみましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>こうでしょうか？？</p>
   <a href="/spinachall.png" target="_blank"style="color:black;">
          <img src="/spinachall.png" class="img-thumbnail" alt="Lights" width="304" height="236">
        </a>  
        </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>すばらしいですね。この画像はしんさんイメージしていたほうれん草とどれくらい一致していますか？</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>１００パーセント一致しています。</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>おめでとうございます。ほうれん草の宇宙旅行は無事にゴールしました。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>ありがとうございます。</br>
    画像をどんどん探していくだけでたどり着けるなんて知りませんでした。</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>
<!-- Left-aligned -->
<div class="row">
  <div class="col-xs-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>じつは宇宙旅行は１０人いれば１０通りの調べ方があるのです。講師陣は様々な調べ方をマスターしていますので
    しんさんが今回調べた方法以外でほうれん草にたどり着くことができます。いろいろな検索方法を学びどんな単語の宇宙旅行でも３分以内にできるようになることを
    目指しましょう。</p>
  </div>
</div>
</div>
  <div class="col-xs-4"></div>
</div>
<hr>

<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>よろしくおねがします！</p>
  </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>

</div>
<div class="col-xs-3"></div>
</div>


