<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Sheen's Renovation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">このRenovationについて</a></li>
        <li><a href="#">メンバー紹介</a></li>
        <li><a href="#">他のRenovation</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">自己紹介</h3>
  <img src="/sheenface.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>I'm an Mathematician　数学者的発想の生き方</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">略歴</h3>
  <p>動画レッスン絶賛配信中 早稲田大大学院数学科 現在は英語の先生、パソコンの先生をしております。英語を使った活動では京都大学主催の研究集会で自身の数学研究を英語発表、米国ピッツバーグ大学にて研究留学、マレーシアへ通訳経験あり インド人プログラマーと人工知能WebService開発中などがあります。大学は早稲田大、理科大、玉川大に所属した経験があります。教育系からエンジニア、ビジネスまで幅広く学びました。お金からの完全独立をベースとした教育革命と銭湯保全活動を数学者として各地で指導させていただいております。</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">活動一覧</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <a href="https://twitter.com/sentohsheen"><p>銭湯サポーター　〜銭湯保全活動〜</p></a>
      <blockquote class="twitter-video" data-lang="fr"><p lang="en" dir="ltr">I paid 460yen plus 210yen for items, towel, tooth brash and shampoo and rinse its good for my health <a href="https://t.co/DOCByJ7z1e">pic.twitter.com/DOCByJ7z1e</a></p>&mdash; 銭湯サポーター (@sentohsheen) <a href="https://twitter.com/sentohsheen/status/906161797098385408">8 septembre 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-4"> 
      <a href=""><p>ドラゴン桜企画　〜社会人よ何度も大学へいけ〜</p>
      <img src="/doragon.JPG" class="img-responsive margin" style="width:100%" alt="Image">
    </a></div>
    <div class="col-sm-4"> 
      <a href="/english/homepage"><p>Sheen's English Online 〜英語脳を生成〜</p>
      <img src="/sheensenglish.JPG" class="img-responsive margin" style="width:100%" alt="Image">
    </a></div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
   <div class="col-sm-4">
   <a href=""<p>ますます早稲田　〜全ては数学の問題になる〜</p>
      <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GqEqLqqzaHc" frameborder="0" allowfullscreen></iframe></div></a></div>
    <div class="col-sm-4"> 
   <a href=""   <p>宗教調査　〜思想の根源に近づく〜</p>
      <img src="/chatnoir.JPG" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
    <a href=""<div class="col-sm-4"> 
      <p>Renovation理論 〜世界観はどう構築すべきか〜</p>
      <img src="/freenation.JPG" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
   <div class="col-sm-4">
   <a href=""<p>論破力セミナー　〜良い流れを作ろう〜</p>
      <img src="/ronpa.JPG" class="img-responsive margin" style="width:100%" alt="Image"></a></div>
    <div class="col-sm-4"> 
   <a href=""   <p></p>
      <img src="" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
    <a href=""<div class="col-sm-4"> 
      <p></p>
      <img src="" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p> 
</footer>

</body>
</html>
