<!DOCTYPE html>
<html>
  <head>
    <title>Sheen</title>
    <style>
    body { 
  padding: 45px 0 0 0;
}
    </style>
  </head>
<body>
  <%= yield %>
    <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

  </body>
</html>
